5530405861-Patcharaphong-lab04/nation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://gear.kku.ac.th/Patcharaphong"
            xmlns:tns="http://gear.kku.ac.th/Patcharaphong"
            elementFormDefault="qualified">
    <xsd:element name="nation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"></xsd:element>
                <xsd:element name="location" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
