MIDTERM/class.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://class.kku.ac.th"
    xmlns:tns="http://class.kku.ac.th"
    elementFormDefault="qualified">
        <xsd:complexType name="classes">
            <xsd:sequence>
                <xsd:element name="class" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType mixed="true">
                        <xsd:attribute name="id" type="xsd:string"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
